<app-loader [isLoading]="isLoading" [errorMessage]="errorMessage">

  <div class="container-xxl about my-5">
    <div class="container">
      <div class="row g-0">
        <div class="col-lg-6">
          <div class="h-100 d-flex align-items-center justify-content-center" style="min-height: 300px;">
            <button type="button" class="btn-play" data-bs-toggle="modal"
              data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
              <span></span>
            </button>
          </div>
        </div>
        <div class="col-lg-6 pt-lg-5 wow fadeIn" data-wow-delay="0.5s">
          <div class="bg-white rounded-top p-5 mt-lg-5">
            <p class="fs-5 fw-medium text-primary">About Us</p>
            <h1 class="display-6 mb-4">{{about?.data?.attributes?.title}}</h1>
            <p class="mb-4">{{about?.data?.attributes?.description}}</p>
            <div class="row g-5 pt-2 mb-5">
              <div class="col-sm-6" *ngFor="let item of about?.data?.attributes?.cards">
                <img class="img-fluid mb-4" [src]="item.image.data.attributes.url |imageSource" alt="">
                <h5 class="mb-3">{{item.title}}</h5>
                <span>{{item.description}}</span>
              </div>

            </div>
            <a class="btn btn-primary rounded-pill py-3 px-5" href="">Explore More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-loader>