<app-loader [isLoading]="isLoading" [errorMessage]="errorMessage">
  <div class="container-xxl pt-5">
    <div class="container">
      <div class="text-center text-md-start pb-5 pb-md-0 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
        <p class="fs-5 fw-medium text-primary">Testimonial</p>
        <h1 class="display-5 mb-5">What Clients Say About Our Services!</h1>
      </div>
      <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
        <div class="testimonial-item rounded p-4 p-lg-5 mb-5"
          *ngFor="let testimony of testimonial?.data?.attributes?.testimonies">
          <img class="mb-4" [src]="testimony.image.data.attributes.url|imageSource" alt="">
          <p class="mb-4">{{testimony.testimony}}</p>
          <h5>{{testimony.name}}</h5>
          <span class="text-primary">{{testimony.profession}}</span>
        </div>

      </div>
    </div>
  </div>
</app-loader>